@use '../estilos/variables.scss' as *;
@use 'sass:color';

.auth-title {
  font-family: $fuente-titulos;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-input-group {
  position: relative;
    display: flex;
  align-items: center;
}

.auth-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s;

  &:focus {
    border-color: $color-primario;
    outline: none;
  }
}

.toggle-password {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;

  &:hover {
    color: #555;
  }
}

.eye-icon {
  font-size: 1.2rem;
  margin-left: 5px;
  color:var(--color-terciario-oscuro);
  cursor: pointer;
}

.auth-button {
  background-color: $color-primario;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: color.mix(white, $color-primario, 20%);;
  }
}

.auth-error {
  color: #e63946;
  margin-top: 0.5rem;
  font-size: 0.95rem;
  text-align: center;
}

.auth-link {
  color: #7b3fe4;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 5px;
}


.auth-switch-text {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  text-align: center;
  color: #333;
}

.auth-switch-button {
  background: none;
  border: none;
  color: $color-primario;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.95rem;

  &:hover {
    text-decoration: underline;
  }
}
