@use '../estilos/variables.scss' as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color-primario, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background: $color-logo3;
    padding: .1rem;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}