@use '../estilos/variables.scss' as *;

.table-responsive {
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
  }
 
  .tabla-resumen-semana {
    width: 100%;
    max-width: 480px;
    border-collapse: collapse;
    margin: 0 auto;
  }

  .tabla-resumen-semana th {
    color: $color-texto-claro;
    background-color: $color-primario;
  }

  .tabla-resumen-semana tr:nth-last-child(2) {
    background-color: $color-primario-fondo;
  }
  .tabla-resumen-semana tr:nth-last-child(1) {
    background-color: $color-primario-fondo-claro;
    font-weight: 500;
  }

  .tabla-resumen-semana th, 
  .tabla-resumen-semana td {
    padding: 8px;
    border: 1px solid $color-bordes-tabla;
  }

  .tabla-resumen-semana th:first-child, 
  .tabla-resumen-semana td:first-child {
    text-align: left;
  }
  .tabla-resumen-semana tr.selected {
    background-color: rgba($color-secundario, .25);
  }

  .tabla-resumen-subfooter {
    border-top: 1.5px solid $color-secundario;
  }

  .buttons-container {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
  }

  .clear-entries-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
    border-radius: 8px;
    background-color: $color-neutro;
  }

  .button-clear-entries {
    background-color: $color-peligro;
    color: $color-texto-claro;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
  }
  
.modal-title {
    margin: 0 auto;
    color: $color-texto-oscuro;
    font-family: $fuente-titulos;
    font-size: 1.2rem;
    font-weight: 700;
    padding: .25rem 0;
    border-bottom: 2px double $color-primario;
    border-top: 2px double $color-primario;
    width: 100%
}

.modal-alerta {
    // background-color: #fef3c7;
    background-color: rgba($color-secundario, 0.25);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    // color: #92400e;
    color: $color-logo3;
}

  .editar-entrada {
    cursor: pointer;
  }

  .botones-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
  }

  .botones-modal-eliminar-cancelar {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    & button:disabled {
      background-color: $color-logo4;
      cursor: default;
    }
  }

  .botones-modal-guardar {
    color: $color-texto-oscuro !important;
    background-color: $color-secundario !important;
    border: 1px solid $color-primario !important;
  }