.App {
  text-align: center;
}

.body {
  margin-top: 60px;
}

.rdp-root {
  width:fit-content;
  margin: 0 auto;
  /* border: 1px solid blue */
}

.container-main {
padding: 1rem;
}

@media(max-width: 350px){
  .container-main {
    font-size: .7rem;
  }
  .rdp-selected {
    font-size: .8rem !important;
  }
  .rdp-day_button,
  .rdp-day {
    max-width: 38px !important;
    max-height: 38px !important;
  }
}
@media(min-width: 350px) and (max-width: 400px){
  .container-main {
    font-size: .9rem;
  }
}